[features]
seeds = false
skip-lint = false

[programs.localnet]
cu_benchmark = "Ecs7bGY1zvN6Desmt1d98PcSicoYc6c93jvQXAosyePF"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
