[workspace]
members = [
    "programs/cu-benchmark",
    "programs/world-model",
]
exclude = [
    "programs/upload-weights",
    "programs-ecs",
]
resolver = "2"

[profile.release]
overflow-checks = true
